body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    }
h1{
    font-size: 50px;
}
h1 span{
    color:orange;
}
section{
    display:flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 2%;
}

.st_Section{  
    width: 50%;
    padding:2%;
    }
    
.st_Section img{
    width: 65%;
    float:right;
    margin: 10px 20px;
}
.link_Hire{
    text-decoration: none;
    background-image:linear-gradient(salmon, red);
    padding: 10px 20px;
    color:white;
    border-radius: 5px;
    text-align:center;
    font-weight:700;
} 
.dream_ploy{
    display: flex;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream{
    width:50%;
}
.dream img{
    width:65%;
}
.dream h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 60px;
}
.link_luck{
    text-decoration: none;
    background-image: linear-gradient( blue,green);
    font-weight: 700;
    color:white;
    border-radius: 5px;
    padding: 10px 20px;
}