body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 1%;
    }
h1{
    font-size: 50px;
}
h1 span{
    color:orange;
}
section{
    display:flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.st_Section{  
    width: 50%;
    }
    
.st_Section img{
    width: 65%;
    float:right;
    margin: 10px 20px;
}
.link_Hire{
    text-decoration: none;
    background-image:linear-gradient(salmon, red);
    padding: 10px 20px;
    color:white;
    border-radius: 5px;
    text-align:center;
    font-weight:700;
} 